<div class="left-container">
    <div class="form-container">
        <span class="start-for-free">START FOR FREE</span>
        <h1 class="title">Create a new account.</h1>
        <p class="login-link">Already a Member? <router-link routerLink="/login" class="login-link-text">Log In</router-link></p>
        <form>
            <div class="name-inputs">
                <div class="input-container">
                    <input type="text" id="first-name" placeholder=" " />
                    <label for="first-name">First Name</label>
                    <i class="fa-solid fa-id-card"></i>
                </div>
                <div class="input-container">
                    <input type="text" id="last-name" placeholder=" " />
                    <label for="last-name">Last Name</label>
                    <i class="fa-solid fa-id-card"></i>
                </div>
            </div>
            <div class="input-container">
                <input type="email" id="email" placeholder=" " />
                <label for="email">Email</label>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder=" " />
                <label for="password">Password</label>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="buttons">
                <button class="google-btn" type="button">
                    <i class="fa-brands fa-google"></i>
                </button>
                <button type="submit" class="submit-btn">Create Account</button>
            </div>
        </form>
    </div>

</div>
<div class="right-container">

</div>